<div>
    {{#each article}}
    <div class="card">
        <div class="card-body">
            <a href="{{this.link}}" class="card-title" target="_blank">
                <h4>{{this.headline}}</h4>
            </a>
            <p>{{this.summary}}</p>
            <form method="POST" action="/remove/{{this._id}}?_method=PUT">
                <button type="submit" class="btn btn-outline-danger" id="RemoveSaved">Remove from Saved
                    Articles</button>
            </form>
        </div>
    </div>
    {{/each}}
</div>